openapi: 3.0.3
info:
  title: StudioOS API
  description: Enterprise Interior Design Platform API
  version: 1.0.0
  contact:
    name: StudioOS Support
    email: support@studioos.com
    url: https://studioos.com/support
  license:
    name: Proprietary
    url: https://studioos.com/license

servers:
  - url: https://api.studioos.com/v1
    description: Production server
  - url: https://staging-api.studioos.com/v1
    description: Staging server
  - url: https://dev-api.studioos.com/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of all services
      security: []  # No auth required for health checks
      responses:
        '200':
          description: All services are healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: One or more services are unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /auth/login:
    post:
      summary: User authentication
      description: Authenticate a user with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/register:
    post:
      summary: User registration
      description: Register a new user account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid registration data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /projects:
    get:
      summary: List projects
      description: Get a paginated list of projects for the authenticated user
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, completed, archived]
        - name: client_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Projects retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create project
      description: Create a new project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          description: Invalid project data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /projects/{projectId}:
    get:
      summary: Get project
      description: Get detailed information about a specific project
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update project
      description: Update an existing project
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete project
      description: Delete a project (soft delete)
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Project deleted successfully
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /projects/{projectId}/design:
    get:
      summary: Get project design
      description: Get the 3D design data for a project
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: version
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Design data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignResponse'
        '404':
          description: Project or design not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update project design
      description: Update the 3D design data for a project
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDesignRequest'
      responses:
        '200':
          description: Design updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clients:
    get:
      summary: List clients
      description: Get a paginated list of clients
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, prospect]
      responses:
        '200':
          description: Clients retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientsResponse'

    post:
      summary: Create client
      description: Create a new client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        '201':
          description: Client created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'

  /quotes:
    post:
      summary: Create quote
      description: Create a new quote for a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
      responses:
        '201':
          description: Quote created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'

  /quotes/{quoteId}/send:
    post:
      summary: Send quote
      description: Send a quote to the client via email
      parameters:
        - name: quoteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Quote sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Quote sent successfully"

  /ai/generate-design:
    post:
      summary: Generate design with AI
      description: Use AI to generate or enhance a design based on requirements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIDesignRequest'
      responses:
        '200':
          description: Design generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIDesignResponse'

  /ai/analyze-image:
    post:
      summary: Analyze design image
      description: Use AI to analyze a design image and provide insights
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Design image to analyze
                analysis_type:
                  type: string
                  enum: [style, colors, materials, layout, improvements]
      responses:
        '200':
          description: Image analyzed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisResponse'

  /realtime/connect:
    get:
      summary: WebSocket connection
      description: Establish a WebSocket connection for real-time collaboration
      responses:
        '101':
          description: WebSocket connection established

  /webhooks/stripe:
    post:
      summary: Stripe webhook
      description: Handle Stripe payment webhooks
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Webhook processed successfully

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number for pagination

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of items per page

    SortBy:
      name: sort_by
      in: query
      schema:
        type: string
        enum: [created_at, updated_at, name, status]
        default: created_at
      description: Field to sort by

    SortOrder:
      name: sort_order
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc
      description: Sort order

    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier of the project

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        services:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [healthy, degraded, unhealthy]
              latency:
                type: number
              error:
                type: string
        timestamp:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8

    RegisterRequest:
      type: object
      required:
        - email
        - password
        - name
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
          minLength: 2
        company:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: number

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar:
          type: string
          format: uri
        role:
          type: string
          enum: [admin, designer, client]
        created_at:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        timestamp:
          type: string
          format: date-time

    ProjectsResponse:
      type: object
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, completed, archived]
        client_id:
          type: string
          format: uuid
        budget:
          type: number
        deadline:
          type: string
          format: date
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectResponse:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'

    CreateProjectRequest:
      type: object
      required:
        - name
        - client_id
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 1000
        client_id:
          type: string
          format: uuid
        budget:
          type: number
          minimum: 0
        deadline:
          type: string
          format: date
        tags:
          type: array
          items:
            type: string

    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 1000
        status:
          type: string
          enum: [draft, active, completed, archived]
        budget:
          type: number
          minimum: 0
        deadline:
          type: string
          format: date
        tags:
          type: array
          items:
            type: string

    DesignResponse:
      type: object
      properties:
        design:
          type: object
          properties:
            id:
              type: string
              format: uuid
            project_id:
              type: string
              format: uuid
            version:
              type: integer
            data:
              type: object
              description: 3D design data in GLTF format
            thumbnail:
              type: string
              format: uri
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    UpdateDesignRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: 3D design data
        thumbnail:
          type: string
          format: uri

    ClientsResponse:
      type: object
      properties:
        clients:
          type: array
          items:
            $ref: '#/components/schemas/Client'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Client:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: object
        status:
          type: string
          enum: [active, inactive, prospect]
        created_at:
          type: string
          format: date-time

    ClientResponse:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/Client'

    CreateClientRequest:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: object
        status:
          type: string
          enum: [active, inactive, prospect]
          default: prospect

    Quote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        total_amount:
          type: number
        status:
          type: string
          enum: [draft, sent, accepted, rejected, expired]
        valid_until:
          type: string
          format: date
        items:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              quantity:
                type: number
              unit_price:
                type: number
              total:
                type: number
        created_at:
          type: string
          format: date-time

    QuoteResponse:
      type: object
      properties:
        quote:
          $ref: '#/components/schemas/Quote'

    CreateQuoteRequest:
      type: object
      required:
        - project_id
        - client_id
        - items
      properties:
        project_id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            type: object
            required:
              - name
              - quantity
              - unit_price
            properties:
              name:
                type: string
              description:
                type: string
              quantity:
                type: number
                minimum: 1
              unit_price:
                type: number
                minimum: 0
        discount_percentage:
          type: number
          minimum: 0
          maximum: 100
        tax_percentage:
          type: number
          minimum: 0
        notes:
          type: string

    AIDesignRequest:
      type: object
      required:
        - prompt
        - style
      properties:
        prompt:
          type: string
          description: Text description of the desired design
        style:
          type: string
          enum: [modern, traditional, minimalist, industrial, rustic, coastal, mediterranean]
        room_type:
          type: string
          enum: [living_room, bedroom, kitchen, bathroom, office, dining_room]
        budget:
          type: number
          minimum: 0
        preferences:
          type: object
          description: Additional design preferences

    AIDesignResponse:
      type: object
      properties:
        design:
          type: object
          properties:
            id:
              type: string
              format: uuid
            data:
              type: object
              description: Generated 3D design data
            suggestions:
              type: array
              items:
                type: string
            confidence_score:
              type: number
              minimum: 0
              maximum: 1
        metadata:
          type: object
          properties:
            model_used:
              type: string
            processing_time:
              type: number
            tokens_used:
              type: number

    ImageAnalysisResponse:
      type: object
      properties:
        analysis:
          type: object
          properties:
            style:
              type: string
            colors:
              type: array
              items:
                type: object
                properties:
                  color:
                    type: string
                  percentage:
                    type: number
            materials:
              type: array
              items:
                type: string
            layout_score:
              type: number
              minimum: 0
              maximum: 10
            suggestions:
              type: array
              items:
                type: string
        metadata:
          type: object
          properties:
            processing_time:
              type: number
            model_used:
              type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 1
